$primary-color: #1EAEDB !default

$border-radius-base: 4px !default
$border-radius-large: 6px !default
$border-radius-small: 3px !default

//== Buttons
//
//## For each of Skeleton's buttons, define text, background and border color.
//#### Default
$button-default-color: #555 !default
$button-bg-default-color: transparent !default
$button-default-border-color: #bbb !default
//###### Hover & Focus
$button-default-hover-color: #333 !default
$button-default-border-hover-color: #888 !default


//#### Default
$button-primary-color: #fff !default
$button-bg-primary-color: #33C3F0 !default
$button-primary-border-color: #33C3F0 !default
//###### Hover & Focus
$button-primary-bg-hover-color: #1EAEDB !default
$button-primary-border-hover-color: #1EAEDB !default


//== Forms
//
//## 
$form-default-height: 38px
$form-default-padding: 6px 10px

// border
$form-default-border-width: 1px
$form-default-border-type: solid
$form-default-border-color: #D1D1D1 !default
$form-focus-border-color: #33C3F0 !default

// background color
$form-default-bg-color: #fff !default


